<aside class="sidebar" [style.width.px]="sidebarWidth">
  <div class="sidebar-content">
    <div *ngFor="let link of sideBarLinks; let idx = index">
      <a *ngIf="link.url"
         [routerLink]="link.url"
         routerLinkActive="active"
         class="link allowed">

          <svg-icon class="mr-4"
                    [name]="link.icon"
                    [size]="24">
          </svg-icon>

          <div class="pt-px text-15">{{ link.name }}</div>
      </a>
      <div *ngIf="!link.url"
           class="link not-allowed">

          <svg-icon class="mr-4"
                    [name]="link.icon"
                    [size]="24">
          </svg-icon>

          <div class="pt-px text-15">{{ link.name }}</div>
          <div class="not-implemented">
              Not implemented
          </div>
      </div>

      <div *ngIf="idx === 1"
           class="divider"></div>
  </div>
  </div>
</aside>
